@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.work-sans-Regular-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style  */
.display-flex {
  display: flex;
}
.dark1 {
  color: #131313;
}
.dark2 {
  color: #424242;
}
.dark3 {
  color: #727272;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}

/* header style start  */

/* navbar related styles  */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.navbar .nav-item {
  list-style: none;
  margin-right: 30px;
}

.navbar .nav-item .nav-link {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.navbar {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}
.brand {
  font-size: 3rem;
  font-weight: 700;
}
